.visi-misi-wrapper {
    padding: 0 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visi-misi {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.visi-misi-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.visi-misi-content h1 {
    font-size: 25px;
    color: #015931;
}

.visi-misi-image img {
    width: 100%;
    max-width: 800px;
}

.numeric-list {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

@media (max-width: 1024px) {
    .visi-misi-wrapper {
        padding: 0 20px 50px 20px;
    }

    .visi-misi {
        max-width: 100%;
    }

    .visi-misi-image img {
        width: 100%;
    }

}